
.about {
  padding: 50px;
}

.about-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.about-content {
  display: flex;
  justify-content: space-between;
}

.about-text {
  flex: 1;
  padding: 20px;
  border-radius: 25px;
  margin-right: 20px;
 background: rgb(6,84,170);
background: linear-gradient(90deg, rgba(6,84,170,1) 37%, rgba(0,248,255,1) 100%);
}

.about-subtitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-description {
  font-size: 25px;
  color: black ;
}
